<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Off Canvas</title>
		<meta name="description" content="">
		<meta name="keywords" content="">

		<meta property="og:url" content=""/>
		<meta property="og:title" content=""/> 
		<meta property="og:type" content="website"/> 
		<meta property="og:image" content=""/> 
		<meta property="og:site_name" content=""/> 
		<meta property="og:description" content=""/>


		<link rel="stylesheet" href="/library/css/styles.css">
		<script src="/library/js/vendor/modernizr-2.6.2.min.js"></script>
	</head>
	<body class="sb-has-nav-bar-fixed">
		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		<nav class="sb-nav-bar-fixed">
	<div class="sb-grid-container">
		<ul class="sb-nav-bar">
			<li class="sb-nav-bar-item sb-nav-bar-brand"><a href="/">Springboard</a></li>
			<li class="sb-nav-bar-item"><a href="/layout/off-canvas/">Off Canvas</a></li>
			<li class="sb-nav-bar-item sb-nav-bar-text">CSS</li>
			<li class="sb-nav-bar-item sb-nav-bar-text">Abstract</li>
		</ul>
	</div>
</nav>


		<div class="sb-section sb-offcanvas-container">

	<div class="sb-offcanvas-off">
		<div class="sb-grid-container">
			<h1>Menu</h1>
			<ul class="sb-block-list">
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
				<li>Item 4</li>
			</ul>
		</div>
	</div>

	<div class="sb-offcanvas-on sb-offcanvas-right">
		<div class="sb-grid-container">
			<div class="sb-callout-container">
				<div class="sb-callout-title">
					<h4>Off canvas test</h4>
				</div>
				<div class="sb-callout-body">
					<p>Curabitur pretium tincidunt viverra. Pellentesque id ornare arcu. Pellentesque sodales, arcu a convallis tempus, eros lacus porttitor quam, id ultricies dui leo eu leo. Fusce consectetur viverra nibh eu tempus. Aliquam placerat mi et leo varius vehicula. Vestibulum dapibus varius aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed auctor dolor vel diam molestie tempus. Sed molestie risus ac velit pellentesque sed lacinia risus rhoncus.</p>
				</div>
				
			</div>
		</div>
	</div>

</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
		<script src="/library/js/plugins.js"></script>
		<script src="/library/js/main.js"></script>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>
