---
layout: default
title: Off Canvas
---

<div class="sb-section sb-offcanvas-container">

	<div class="sb-offcanvas-off">
		<div class="sb-grid-container">
			<h1>Menu</h1>
			<ul class="sb-block-list">
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
				<li>Item 4</li>
			</ul>
		</div>
	</div>

	<div class="sb-offcanvas-on sb-offcanvas-right">
		<div class="sb-grid-container">
			<div class="sb-callout-container">
				<div class="sb-callout-title">
					<h4>Off canvas test</h4>
				</div>
				<div class="sb-callout-body">
					<p>Curabitur pretium tincidunt viverra. Pellentesque id ornare arcu. Pellentesque sodales, arcu a convallis tempus, eros lacus porttitor quam, id ultricies dui leo eu leo. Fusce consectetur viverra nibh eu tempus. Aliquam placerat mi et leo varius vehicula. Vestibulum dapibus varius aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed auctor dolor vel diam molestie tempus. Sed molestie risus ac velit pellentesque sed lacinia risus rhoncus.</p>
				</div>
				
			</div>
		</div>
	</div>

</div>