//-------------------------------------
//  Springboard: core/base/inline/labels
//  
//-------------------------------------

// ----- Settings ----- //
$print-base-inline-label-classes:		$print-base-inline-classes		!default;

// ----- Mixins ----- //
@mixin sb-label {
	font-weight: 700;
	font-size: 0.875em;
	color: white;
	padding: .125em .75em;
	@include box-shadow(1px 1px 0px #aaaaaa)
}

// ----- Placeholder styles ----- //
%sb-label {
	@include sb-label;
}

// ----- Class styles ----- //
@if $print-base-inline-label-classes == true {

	.sb-label {
		@extend %sb-label;
	}

}