//-------------------------------------
//  Springboard: core/base/typography/lists/generic-list
//  
//-------------------------------------

// ----- Settings ----- //
$print-base-list-classes:		$print-base-classes		!default;


// ----- Mixins ----- //
@mixin sb-list {
	padding-left: $sb-m-spacing;
	list-style-position: outside;
	margin-bottom: $sb-m-spacing;

	ul, ol {
		margin-bottom: $sb-s-spacing;
	}

	li {
		margin-bottom: $sb-s-spacing;
	}
}


// ----- Placeholder styles ----- //
%sb-list {
	@include sb-list;
}


// ----- Class styles ----- //
@if $print-base-list-classes == true {
	.sb-list {
		@extend %sb-list;
	}
}