//-------------------------------------
//  Springboard: core/base/typography/lists/unordered-list
//  
//-------------------------------------

// ----- Settings ----- //
$print-base-list-classes:		$print-base-classes		!default;
$print-base-list-elements:		$print-base-elements	!default;


// ----- Mixins ----- //
@mixin sb-unordered-list {
	list-style-type: disc;

	ul {
		list-style-type: circle;
	}

	@include sb-list;
}


// ----- Placeholder styles ----- //
%sb-unordered-list {
	@include sb-unordered-list;
}


// ----- Element styles ----- //
@if $print-base-list-elements == true {
	ul {
		@extend %sb-unordered-list;
	}
}


// ----- Class styles ----- //
@if $print-base-list-classes == true {
	.sb-unordered-list {
		@extend %sb-unordered-list;
	}
}