//-------------------------------------
//  Springboard: core/layout/callout
//  Need a container with just a dash of extra styling?
//-------------------------------------

// ----- Settings ----- //


// ----- Placeholders ----- //
%sb-callout-container {
	margin-bottom: 1.5rem;
	background-color: white;
	@include box-shadow(#aaaaaa 0px 0px 3px);
}

%sb-callout-title {
	padding: .75rem;
	border-bottom: 1px solid lighten($sb-font-color, 50%);
	background-color: #f1f1f1;
	%sb-heading {
		margin-bottom: 0;
	}
}

%sb-callout-body {
	padding: .75rem;
}

// ----- Classes ----- //
@if $print-layout-callout-classes {
	.sb-callout-container {
		@extend %sb-callout-container;
	}

	.sb-callout-title {
		@extend %sb-callout-title;
	}

	.sb-callout-body {
		@extend %sb-callout-body;
	}
}