//-------------------------------------
//  Springboard: core/layout/grid
//  Set up default responsive grid.
//-------------------------------------

// ----- Settings ----- //
$sb-large-max-width:	1030px	!default;


// ----- Placeholders ----- //

@include grid-generator('sb-s', 1030px, 12, 5.88888888888583%, 2.666666666667%,  -12px);

@include respond-to('sb-m') {
	@include grid-generator('sb-m', 1030px, 12, 5.88888888888583%, 2.666666666667%,  -12px);
}

@include respond-to('sb-l') {
	@include grid-generator('sb-l', 1320px, 12, 5.88888888888583%, 2.666666666667%,  -12px);
}

@include respond-to('sb-xl') {
	@include grid-generator('sb-xl', 1400px, 12, 100px, 10px,  -12px);
}


// ----- Classes ----- //

.sb-l-container {
	@extend %sb-l-container;
	@extend %sb-xl-container;
}

.sb-l-row {
	@extend %sb-l-row;
	@extend %sb-xl-row;
}

.sb-l-1 {
	@extend %sb-l-1;
	@extend %sb-xl-1;
	padding: 10px;
	background-color: #fdadad;
}

.sb-l-2 {
	@extend %sb-l-2;
	@extend %sb-xl-2;
	padding: 10px;
	background-color: #fdadad;
}

.sb-l-3 {
	@extend %sb-l-3;
	@extend %sb-xl-3;
	padding: 10px;
	background-color: #fdadad;
}

.sb-l-4 {
	@extend %sb-l-4;
	@extend %sb-xl-4;
	padding: 10px;
	background-color: #fdadad;
}