//-------------------------------------
//  Springboard: core/layout/grid-generator
//  This mixin generates grid placeholders to be extended.
//  Place the mixin in a media query and extend it like normal for responsive grids.
//-------------------------------------


@mixin grid-generator($sb-gg-prefix: 'sb-grid', $sb-gg-max-width: 64em, $sb-gg-total-columns: 12, $sb-gg-column-width: 4.5em, $sb-gg-gutter: 2em, $sb-gg-spacing: -.5em, $sb-gg-inline: true) {
	

	// placeholder for container
	%#{$sb-gg-prefix}-container { 
		
	}


	// placeholder for row
	%#{$sb-gg-prefix}-row { 
		
	}


	// placeholders for columns
	@for $sb-gg-column-count from 1 through $sb-gg-total-columns {
		%#{$sb-gg-prefix}-#{$sb-gg-column-count} {

		}
	}

	// separate these out so they override the above
	// TODO: make a for loop? It didn't like repeating the for loop...
	$sb-gg-column-counter: 1;
	@while $sb-gg-column-counter < $sb-gg-total-columns {
		%#{$sb-gg-prefix}-push-#{$sb-gg-column-counter} {
			margin-left: $sb-gg-column-counter * $sb-gg-column-width + $sb-gg-column-counter * $sb-gg-gutter + $sb-gg-gutter;
		}

		%#{$sb-gg-prefix}-pull-#{$sb-gg-column-counter} {
			margin-left: ($sb-gg-column-counter * $sb-gg-column-width + $sb-gg-column-counter * $sb-gg-gutter + $sb-gg-gutter) * -1;
		}

		$sb-gg-column-counter: $sb-gg-column-counter + 1;
	}
}

