//-------------------------------------
//  Springboard: core/layout/grid
//  Set up default responsive grid.
//-------------------------------------

// ----- Settings ----- //
$sb-large-max-width:	1030px	!default;


// ----- Placeholders ----- //

@include grid-generator('sb-s', 65em, 12, 5.88888888888583%, 2.666666666667%,  -0);

@include respond-to('sb-m') {
	@include grid-generator('sb-m', 65em, 12, 5.88888888888583%, 2.666666666667%,  -0);
}

@include respond-to('sb-l') {
	@include grid-generator('sb-l', 82.5, 12, 5.88888888888583%, 2.666666666667%,  -0);
}

@include respond-to('sb-xl') {
	@include grid-generator('sb-xl', 87.5em, 12, 5.4583333333em, 2em,  -0);
}


%sb-grid-column {
	padding: 10px;
	background-color: #fdadad;
}


// ----- Classes ----- //

.sb-grid-container {
	@extend %sb-s-container;
	@extend %sb-m-container;
	@extend %sb-l-container;
	@extend %sb-xl-container;
}

.sb-grid-row {
	@extend %sb-s-row;
	@extend %sb-m-row;
	@extend %sb-l-row;
	@extend %sb-xl-row;
}


@for $i from 1 through 12 {
	.sb-grid-#{$i} {
		@extend %sb-s-#{$i};
		@extend %sb-m-#{$i};
		@extend %sb-l-#{$i};
		@extend %sb-xl-#{$i};
		@extend %sb-grid-column;
	}
}