//-------------------------------------
//  Springboard: core/base/typography/fonts
//-------------------------------------

// ----- Settings ----- //
$print-base-typography-fonts:		$print-base-typography-elements		!default;

// Roboto
$sb-font-roboto:					$print-base-typography-fonts		!default;
$sb-font-roboto-black:				$sb-font-roboto		!default;
$sb-font-roboto-black-italic: 		$sb-font-roboto 	!default;
$sb-font-roboto-bold:				$sb-font-roboto		!default;
$sb-font-roboto-bold-italic:		$sb-font-roboto		!default;
$sb-font-roboto-italic:				$sb-font-roboto		!default;
$sb-font-roboto-light:				$sb-font-roboto		!default;
$sb-font-roboto-light-italic:		$sb-font-roboto		!default;
$sb-font-roboto-medium:				$sb-font-roboto		!default;
$sb-font-roboto-medium-italic:		$sb-font-roboto		!default;
$sb-font-roboto-regular:			$sb-font-roboto		!default;
$sb-font-roboto-thin:				$sb-font-roboto		!default;
$sb-font-roboto-thin-italic:		$sb-font-roboto		!default;

// RobotoSlab
$sb-font-merriweather:					$print-base-typography-fonts	!default;
$sb-font-merriweather-black:			$sb-font-merriweather		!default;
$sb-font-merriweather-bold:				$sb-font-merriweather		!default;
$sb-font-merriweather-regular:			$sb-font-merriweather		!default;
$sb-font-merriweather-light:			$sb-font-merriweather		!default;
$sb-font-merriweather-heavy-italic:		$sb-font-merriweather		!default;
$sb-font-merriweather-bold-italic:		$sb-font-merriweather		!default;
$sb-font-merriweather-regular-italic:	$sb-font-merriweather		!default;
$sb-font-merriweather-light-italic:		$sb-font-merriweather		!default;

// Ubuntu Mono
$sb-font-ubuntu:					$print-base-typography-fonts		!default;
$sb-font-ubuntu-regular:			$sb-font-ubuntu		!default;
$sb-font-ubuntu-regular-italic:		$sb-font-ubuntu		!default;
$sb-font-ubuntu-bold:				$sb-font-ubuntu		!default;
$sb-font-ubuntu-bold-italic:		$sb-font-ubuntu		!default;


// ----- Roboto ----- //
// 
// 
@if $sb-font-roboto-black == true {
	@font-face {
		font-family: 'Roboto';
		src: 	url('../fonts/roboto-black-webfont.eot');
		src:	url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-black-webfont.woff') format('woff'),
				url('../fonts/roboto-black-webfont.ttf') format('truetype'),
				url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
		font-weight: 900;
		font-style: normal;
	}
}

@if $sb-font-roboto-black-italic == true {
	@font-face {
		font-family: 'Roboto';
		src: 	url('../fonts/roboto-blackitalic-webfont.eot');
		src: 	url('../fonts/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-blackitalic-webfont.woff') format('woff'),
				url('../fonts/roboto-blackitalic-webfont.ttf') format('truetype'),
				url('../fonts/roboto-blackitalic-webfont.svg#robotoblack_italic') format('svg');
		font-weight: 900;
		font-style: italic;
	}
}

@if $sb-font-roboto-bold == true {
	@font-face {
		font-family: 'Roboto';
		src: 	url('../fonts/roboto-bold-webfont.eot');
		src: 	url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/roboto-bold-webfont.woff') format('woff'),
			url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
			url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
		font-weight: 700;
		font-style: normal;
	}
}

@if $sb-font-roboto-bold-italic == true {
	@font-face {
		font-family: 'Roboto';
		src: 	url('../fonts/roboto-bolditalic-webfont.eot');
		src: 	url('../fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-bolditalic-webfont.woff') format('woff'),
				url('../fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
				url('../fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
		font-weight: 700;
		font-style: italic;
	}
}

@if $sb-font-roboto-italic == true {
	@font-face {
	font-family: 'Roboto';
	src: 	url('../fonts/roboto-italic-webfont.eot');
	src: 	url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
			url('../fonts/roboto-italic-webfont.woff') format('woff'),
			url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
			url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
	font-weight: normal;
	font-style: italic;

	}
}

@if $sb-font-roboto-light == true {
	@font-face {
		font-family: 'Roboto';
		src: 	url('../fonts/roboto-light-webfont.eot');
		src: 	url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-light-webfont.woff') format('woff'),
				url('../fonts/roboto-light-webfont.ttf') format('truetype'),
				url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
		font-weight: 300;
		font-style: normal;
	}
}

@if $sb-font-roboto-light-italic == true {
	@font-face {
		font-family: 'Roboto';
		src: 	url('../fonts/roboto-lightitalic-webfont.eot');
		src: 	url('../fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-lightitalic-webfont.woff') format('woff'),
				url('../fonts/roboto-lightitalic-webfont.ttf') format('truetype'),
				url('../fonts/roboto-lightitalic-webfont.svg#robotolight_italic') format('svg');
		font-weight: 300;
		font-style: italic;
	}
}

@if $sb-font-roboto-medium == true {
	@font-face {
		font-family: 'Roboto';
		src:	url('../fonts/roboto-medium-webfont.eot');
		src:	url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-medium-webfont.woff') format('woff'),
				url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
				url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
		font-weight: 500;
		font-style: normal;
	}
}

@if $sb-font-roboto-medium-italic == true {
	@font-face {
		font-family: 'Roboto';
		src:	url('../fonts/roboto-mediumitalic-webfont.eot');
		src:	url('../fonts/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-mediumitalic-webfont.woff') format('woff'),
				url('../fonts/roboto-mediumitalic-webfont.ttf') format('truetype'),
				url('../fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
		font-weight: 500;
		font-style: italic;
	}
}

@if $sb-font-roboto-regular == true {
	@font-face {
		font-family: 'Roboto';
		src:	url('../fonts/roboto-regular-webfont.eot');
		src:	url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-regular-webfont.woff') format('woff'),
				url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
				url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
		font-weight: 400;
		font-style: normal;
	}
}

@if $sb-font-roboto-thin == true {
	@font-face {
		font-family: 'Roboto';
		src:	url('../fonts/roboto-thin-webfont.eot');
		src:	url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-thin-webfont.woff') format('woff'),
				url('../fonts/roboto-thin-webfont.ttf') format('truetype'),
				url('../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
		font-weight: 100;
		font-style: normal;
	}
}

@if $sb-font-roboto-thin-italic == true {
	@font-face {
		font-family: 'Roboto';
		src:	url('../fonts/roboto-thinitalic-webfont.eot');
		src:	url('../fonts/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/roboto-thinitalic-webfont.woff') format('woff'),
				url('../fonts/roboto-thinitalic-webfont.ttf') format('truetype'),
				url('../fonts/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
		font-weight: 100;
		font-style: italic;
	}
}




// ----- Merriweather ----- //
//
//
@if $sb-font-merriweather-black == true {
	@font-face {
		font-family: 'Merriweather';
		src:	url('../fonts/merriweather-black-webfont.eot');
		src:	url('../fonts/merriweather-black-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/merriweather-black-webfont.woff') format('woff'),
				url('../fonts/merriweather-black-webfont.ttf') format('truetype'),
				url('../fonts/merriweather-black-webfont.svg#merriweatherheavy') format('svg');
		font-weight: normal;
		font-style: 900;
	}
}


@if $sb-font-merriweather-bold == true {
	@font-face {
		font-family: 'Merriweather';
		src:	url('../fonts/merriweather-bold-webfont.eot');
		src:	url('../fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/merriweather-bold-webfont.woff') format('woff'),
				url('../fonts/merriweather-bold-webfont.ttf') format('truetype'),
				url('../fonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
		font-weight: normal;
		font-style: 700;
	}
}


@if $sb-font-merriweather-bold-italic == true {
	@font-face {
		font-family: 'Merriweather';
		src:	url('../fonts/merriweather-bolditalic-webfont.eot');
		src:	url('../fonts/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/merriweather-bolditalic-webfont.woff') format('woff'),
				url('../fonts/merriweather-bolditalic-webfont.ttf') format('truetype'),
				url('../fonts/merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
		font-weight: italic;
		font-style: 700;
	}
}


@if $sb-font-merriweather-heavy-italic == true {
	@font-face {
		font-family: 'Merriweather';
		src:	url('../fonts/merriweather-heavyitalic-webfont.eot');
		src:	url('../fonts/merriweather-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/merriweather-heavyitalic-webfont.woff') format('woff'),
				url('../fonts/merriweather-heavyitalic-webfont.ttf') format('truetype'),
				url('../fonts/merriweather-heavyitalic-webfont.svg#merriweatherheavy_italic') format('svg');
		font-weight: italic;
		font-style: 900;

	}
}


@if $sb-font-merriweather-regular-italic == true {
	@font-face {
		font-family: 'Merriweather';
		src:	url('../fonts/merriweather-italic-webfont.eot');
		src:	url('../fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/merriweather-italic-webfont.woff') format('woff'),
				url('../fonts/merriweather-italic-webfont.ttf') format('truetype'),
				url('../fonts/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
		font-weight: italic;
		font-style: normal;

	}
}


@if $sb-font-merriweather-light == true {
	@font-face {
		font-family: 'Merriweather';
		src:	url('../fonts/merriweather-light-webfont.eot');
		src:	url('../fonts/merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/merriweather-light-webfont.woff') format('woff'),
				url('../fonts/merriweather-light-webfont.ttf') format('truetype'),
				url('../fonts/merriweather-light-webfont.svg#merriweatherlight') format('svg');
		font-weight: 300;
		font-style: normal;

	}
}


@if $sb-font-merriweather-light-italic == true {
	@font-face {
		font-family: 'Merriweather';
		src:	url('../fonts/merriweather-lightitalic-webfont.eot');
		src:	url('../fonts/merriweather-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/merriweather-lightitalic-webfont.woff') format('woff'),
				url('../fonts/merriweather-lightitalic-webfont.ttf') format('truetype'),
				url('../fonts/merriweather-lightitalic-webfont.svg#merriweatherlight_italic') format('svg');
		font-weight: 300;
		font-style: italic;
	}
}


@if $sb-font-merriweather-regular == true {
	@font-face {
		font-family: 'Merriweather';
		src:	url('../fonts/merriweather-regular-webfont.eot');
		src:	url('../fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/merriweather-regular-webfont.woff') format('woff'),
				url('../fonts/merriweather-regular-webfont.ttf') format('truetype'),
				url('../fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}


// ----- Ubuntu ----- //
// 
// 

@if $sb-font-ubuntu-bold == true {
	@font-face {
		font-family: 'UbuntuMono';
		src:	url('../fonts/ubuntumono-bold-webfont.eot');
		src:	url('../fonts/ubuntumono-bold-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/ubuntumono-bold-webfont.woff') format('woff'),
				url('../fonts/ubuntumono-bold-webfont.ttf') format('truetype'),
				url('../fonts/ubuntumono-bold-webfont.svg#ubuntu_monobold') format('svg');
		font-weight: 700;
		font-style: normal;
	}
}

@if $sb-font-ubuntu-bold-italic == true {
	@font-face {
		font-family: 'UbuntuMono';
		src:	url('../fonts/ubuntumono-bolditalic-webfont.eot');
		src:	url('../fonts/ubuntumono-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/ubuntumono-bolditalic-webfont.woff') format('woff'),
				url('../fonts/ubuntumono-bolditalic-webfont.ttf') format('truetype'),
				url('../fonts/ubuntumono-bolditalic-webfont.svg#ubuntu_monobold_italic') format('svg');
		font-weight: 700;
		font-style: italic;
	}
}

@if $sb-font-ubuntu-regular-italic == true {
	@font-face {
		font-family: 'UbuntuMono';
		src:	url('../fonts/ubuntumono-italic-webfont.eot');
		src:	url('../fonts/ubuntumono-italic-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/ubuntumono-italic-webfont.woff') format('woff'),
				url('../fonts/ubuntumono-italic-webfont.ttf') format('truetype'),
				url('../fonts/ubuntumono-italic-webfont.svg#ubuntu_monoitalic') format('svg');
		font-weight: normal;
		font-style: italic;
	}
}

@if $sb-font-ubuntu-regular == true {
	@font-face {
		font-family: 'UbuntuMono';
		src:	url('../fonts/ubuntumono-regular-webfont.eot');
		src:	url('../fonts/ubuntumono-regular-webfont.eot?#iefix') format('embedded-opentype'),
				url('../fonts/ubuntumono-regular-webfont.woff') format('woff'),
				url('../fonts/ubuntumono-regular-webfont.ttf') format('truetype'),
				url('../fonts/ubuntumono-regular-webfont.svg#ubuntu_monoregular') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}