//-------------------------------------
//  Springboard: core/base
//  Step 2: Secure Twix bar.
//-------------------------------------

// Compliments to Joshua Hilbert for building such an awesome tool 
// and open sourcing it for the basic maths: 
// http://joshnh.com/tools/em-baseline-generator.html

@mixin sb-heading-generator($sb-heading-prefix: 'sb', $sb-base-font-size: 1em, $sb-base-line-height: 1.5em, $sb-font-weight: 700) {
	%#{$sb-heading-prefix}-heading {
		font-weight: $sb-font-weight;
	}

	%#{$sb-heading-prefix}-h1 {
		font-size: 3 * $sb-base-font-size;
		line-height: sb-h1-line-height($sb-base-font-size, $sb-base-line-height);
		margin-bottom: sb-h1-margin-bottom($sb-base-font-size, $sb-base-line-height) * 1em;

		@extend %#{$sb-heading-prefix}-heading;
	}

	%#{$sb-heading-prefix}-h2 {
		font-size: 2.25 * $sb-base-font-size;
		line-height: sb-h2-line-height($sb-base-font-size, $sb-base-line-height);
		margin-bottom: sb-h2-margin-bottom($sb-base-font-size, $sb-base-line-height) * 1em;

		@extend %#{$sb-heading-prefix}-heading;
	}

	%#{$sb-heading-prefix}-h3 {
		font-size: 1.5 * $sb-base-font-size;
		line-height: sb-h3-line-height($sb-base-font-size, $sb-base-line-height);
		margin-bottom: sb-h3-margin-bottom($sb-base-font-size, $sb-base-line-height) * 1em;

		@extend %#{$sb-heading-prefix}-heading;
	}

	%#{$sb-heading-prefix}-h4 {
		font-size: 1.3125 * $sb-base-font-size;
		line-height: sb-h4-line-height($sb-base-font-size, $sb-base-line-height);
		margin-bottom: sb-h4-margin-bottom($sb-base-font-size, $sb-base-line-height) * 1em;

		@extend %#{$sb-heading-prefix}-heading;
	}

	%#{$sb-heading-prefix}-h5 {
		font-size: 1.125 * $sb-base-font-size;
		line-height: sb-h5-line-height($sb-base-font-size, $sb-base-line-height);
		margin-bottom: sb-h5-margin-bottom($sb-base-font-size, $sb-base-line-height) * 1em;

		@extend %#{$sb-heading-prefix}-heading;
	}

	%#{$sb-heading-prefix}-h6 {
		font-size: $sb-base-font-size;
		line-height: sb-h6-line-height($sb-base-font-size, $sb-base-line-height);
		margin-bottom: sb-h6-margin-bottom($sb-base-font-size, $sb-base-line-height) * 1em;

		@extend %#{$sb-heading-prefix}-heading;
	}
}





// ----- Helper functions ----- //
// 
// Line height stuffs
// 
// 

@function sb-h1-line-height($sb-base-font-size, $sb-base-line-height) {
	$sb-h1-lh: 0;
	@if sb-h1-margin-bottom($sb-base-font-size, $sb-base-line-height) >= 1 {
		$sb-h1-lh: sb-h1-margin-bottom($sb-base-font-size, $sb-base-line-height)
	} @else {
		$sb-h1-lh: sb-h1-margin-bottom($sb-base-font-size, $sb-base-line-height) * 2;
	}
	@return $sb-h1-lh;
}

@function sb-h2-line-height($sb-base-font-size, $sb-base-line-height) {
	$sb-h2-lh: 0;
	@if sb-h2-margin-bottom($sb-base-font-size, $sb-base-line-height) >= 1 {
		$sb-h2-lh: sb-h2-margin-bottom($sb-base-font-size, $sb-base-line-height)
	} @else {
		$sb-h2-lh: sb-h2-margin-bottom($sb-base-font-size, $sb-base-line-height) * 2;
	}
	@return $sb-h2-lh;
}

@function sb-h3-line-height($sb-base-font-size, $sb-base-line-height) {
	$sb-h3-lh: 0;
	@if sb-h3-margin-bottom($sb-base-font-size, $sb-base-line-height) >= 1 {
		$sb-h3-lh: sb-h3-margin-bottom($sb-base-font-size, $sb-base-line-height)
	} @else {
		$sb-h3-lh: sb-h3-margin-bottom($sb-base-font-size, $sb-base-line-height) * 2;
	}
	@return $sb-h3-lh;
}

@function sb-h4-line-height($sb-base-font-size, $sb-base-line-height) {
	$sb-h4-lh: 0;
	@if sb-h4-margin-bottom($sb-base-font-size, $sb-base-line-height) >= 1 {
		$sb-h4-lh: sb-h4-margin-bottom($sb-base-font-size, $sb-base-line-height)
	} @else {
		$sb-h4-lh: sb-h4-margin-bottom($sb-base-font-size, $sb-base-line-height) * 2;
	}
	@return $sb-h4-lh;
}

@function sb-h5-line-height($sb-base-font-size, $sb-base-line-height) {
	$sb-h5-lh: 0;
	@if sb-h5-margin-bottom($sb-base-font-size, $sb-base-line-height) >= 1 {
		$sb-h5-lh: sb-h5-margin-bottom($sb-base-font-size, $sb-base-line-height)
	} @else {
		$sb-h5-lh: sb-h5-margin-bottom($sb-base-font-size, $sb-base-line-height) * 2;
	}
	@return $sb-h5-lh;
}

@function sb-h6-line-height($sb-base-font-size, $sb-base-line-height) {
	$sb-h6-lh: 0;
	@if sb-h6-margin-bottom($sb-base-font-size, $sb-base-line-height) >= 1 {
		$sb-h6-lh: sb-h6-margin-bottom($sb-base-font-size, $sb-base-line-height)
	} @else {
		$sb-h6-lh: sb-h6-margin-bottom($sb-base-font-size, $sb-base-line-height) * 2;
	}
	@return $sb-h6-lh;
}






// Margin bottom stuffs
// 
// 
@function sb-h1-margin-bottom($sb-base-font-size, $sb-base-line-height) {
	@return ($sb-base-line-height / ($sb-base-font-size * 3));
}

@function sb-h2-margin-bottom($sb-base-font-size, $sb-base-line-height) {
	@return ($sb-base-line-height / ($sb-base-font-size * 2.25));
}

@function sb-h3-margin-bottom($sb-base-font-size, $sb-base-line-height) {
	@return ($sb-base-line-height / ($sb-base-font-size * 1.5));
}

@function sb-h4-margin-bottom($sb-base-font-size, $sb-base-line-height) {
	@return ($sb-base-line-height / ($sb-base-font-size * 1.3125));
}

@function sb-h5-margin-bottom($sb-base-font-size, $sb-base-line-height) {
	@return ($sb-base-line-height / ($sb-base-font-size * 1.125));
}

@function sb-h6-margin-bottom($sb-base-font-size, $sb-base-line-height) {
	@return ($sb-base-line-height / ($sb-base-font-size));
}
