//-------------------------------------
//  Springboard: core/base/image
//  
//-------------------------------------


// ----- Images settings ----- //
$print-base-image-classes:		$print-base-classes		!default;
$print-base-image-elements:		$print-base-elements	!default;

// ----- Images import ----- //


// ----- Image Placeholders ----- //

%sb-image {
	max-width: 100%;
	height: auto;
}

%sb-rounded {
	@include border-radius(5px);
}

%sb-circular {
	@include border-radius(100%);
}

%sb-bordered {
	padding: 3px;
	background-color: white;
	@include box-shadow(#aaaaaa 0px 0px 3px);
}


// ----- Image styles & classes ----- //
@if $print-base-image-elements == true {
	img {
		@extend %sb-image;
	}
}

@if $print-base-image-classes == true {
	.sb-rounded {
		@extend %sb-rounded;
	}

	.sb-circular {
		@extend %sb-circular;
	}

	.sb-bordered {
		@extend %sb-bordered;
	}
}