//-------------------------------------
//  Springboard: core/base/navigation
//-------------------------------------

// ----- Settings ----- //

$print-base-nav-classes:	$print-base-classes	!default;

$sb-bar-nav-color:	#d1d1d1	!default;


// ----- Placeholders ----- //

%sb-bar-nav {
	width: 100%;
	list-style: none;
	background-color: $sb-bar-nav-color;
}

%sb-fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

%sb-has-fixed-nav {
	@if $ie8-support == true {
		padding-top: 4 * $rem;
	}

	padding-top: 4rem;
}

%sb-nav-item {
	@if $ie8-support == true {
		padding-top: .6 * $rem;
		padding-bottom: .875 * $rem;
		margin-left: .75 * $rem;
	}

	display: inline-block;
	padding-top: .6rem;
	padding-bottom: .875rem;
	margin-left: .75rem;
}


// ----- Classes ----- //
@if $print-base-nav-classes == true {

	.sb-fixed-nav {
		@extend %sb-fixed-nav;
	}

	.sb-bar-nav {
		@extend %sb-bar-nav;

		.sb-nav-item {
			@extend %sb-nav-item;
		}
	}

	.sb-has-fixed-nav {
		@extend %sb-has-fixed-nav;
	}

}