//-------------------------------------
//  Springboard: core/base/typography
//  Adjust the kerning 1px to the left.
//-------------------------------------


// ----- Typography settings ----- //



// ----- Typography import ----- //
@import "typography/fonts";
@import "typography/headings";



// ----- Basic Typography styles ----- //
body {
	font-family: $sans;
	font-weight: 300;
	line-height: 1.5;
	color: $sb-font-color;
}

p,
blockquote {
	margin-bottom: 1.5rem;
	@include hyphens(auto);
}

a {
	color: lighten($sb-blue, 15%);
	text-decoration: none;
	
	&:hover {
		color: $sb-blue;
	}

	@include transition(color .2s ease);
}