//-------------------------------------
//  Springboard: core/base/typography
//  Adjust the kerning 1px to the left.
//-------------------------------------


// ----- Typography settings ----- //
$print-base-typography-classes:		$print-base-classes		!default;


// ----- Typography import ----- //
@import "typography/baseline";
@import "typography/fonts";
@import "typography/headings";
@import "typography/paragraphs";
@import "typography/quotations";
@import "typography/alignment";
@import "typography/lists";


// ----- Basic Typography styles ----- //
body {
	font-family: $sb-sans;
	font-weight: 300;
	line-height: 1.5;
	color: $sb-font-color;
}

a {
	color: lighten($sb-blue, 15%);
	text-decoration: none;
	
	&:hover {
		color: $sb-blue;
	}

	@include transition(color .2s ease);
}

address {
	padding: $sb-s-spacing;
	background-color: #f1f1f1;
}