/* line 17, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/helpers/_clearfix.scss */
.sb-grid-container, .sb-grid-row {
  *zoom: 1;
}
/* line 38, C:/Users/Rachael/AppData/Local/Temp/Mixture/Tools/Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.sb-grid-container:after, .sb-grid-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 9, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/helpers/_visibility.scss */
.sb-hidden {
  display: none;
}

/* line 13, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/helpers/_visibility.scss */
.sb-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 25, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/helpers/_visibility.scss */
.sb-visually-hidden-but-focusable:active, .sb-visually-hidden-but-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 14, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/_navigation.scss */
.sb-bar-nav {
  width: 100%;
  list-style: none;
  background-color: #d1d1d1;
}

@media (min-width: 44em) {
  /* line 20, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/_navigation.scss */
  .sb-fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}

@media (min-width: 44em) {
  /* line 30, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/_navigation.scss */
  .sb-has-fixed-nav {
    padding-top: 0px;
    padding-top: 4.5rem;
  }
}

/* line 40, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/_navigation.scss */
.sb-bar-nav .sb-nav-item {
  padding-top: 9.6px;
  margin-left: 12px;
  display: inline-block;
  padding-top: .6rem;
  height: 3rem;
  margin-left: .75rem;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto-black-webfont.ttf") format("truetype"), url("../fonts/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-blackitalic-webfont.eot");
  src: url("../fonts/roboto-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-blackitalic-webfont.woff") format("woff"), url("../fonts/roboto-blackitalic-webfont.ttf") format("truetype"), url("../fonts/roboto-blackitalic-webfont.svg#robotoblack_italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-bolditalic-webfont.eot");
  src: url("../fonts/roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-bolditalic-webfont.woff") format("woff"), url("../fonts/roboto-bolditalic-webfont.ttf") format("truetype"), url("../fonts/roboto-bolditalic-webfont.svg#robotobold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-italic-webfont.eot");
  src: url("../fonts/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-italic-webfont.woff") format("woff"), url("../fonts/roboto-italic-webfont.ttf") format("truetype"), url("../fonts/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto-light-webfont.ttf") format("truetype"), url("../fonts/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-lightitalic-webfont.woff") format("woff"), url("../fonts/roboto-lightitalic-webfont.ttf") format("truetype"), url("../fonts/roboto-lightitalic-webfont.svg#robotolight_italic") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-mediumitalic-webfont.eot");
  src: url("../fonts/roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-mediumitalic-webfont.woff") format("woff"), url("../fonts/roboto-mediumitalic-webfont.ttf") format("truetype"), url("../fonts/roboto-mediumitalic-webfont.svg#robotomedium_italic") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-thin-webfont.eot");
  src: url("../fonts/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thin-webfont.woff") format("woff"), url("../fonts/roboto-thin-webfont.ttf") format("truetype"), url("../fonts/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-thinitalic-webfont.eot");
  src: url("../fonts/roboto-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-thinitalic-webfont.woff") format("woff"), url("../fonts/roboto-thinitalic-webfont.ttf") format("truetype"), url("../fonts/roboto-thinitalic-webfont.svg#robotothin_italic") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/robotoslab-bold-webfont.eot");
  src: url("../fonts/robotoslab-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotoslab-bold-webfont.woff") format("woff"), url("../fonts/robotoslab-bold-webfont.ttf") format("truetype"), url("../fonts/robotoslab-bold-webfont.svg#roboto_slabbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/robotoslab-light-webfont.eot");
  src: url("../fonts/robotoslab-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotoslab-light-webfont.woff") format("woff"), url("../fonts/robotoslab-light-webfont.ttf") format("truetype"), url("../fonts/robotoslab-light-webfont.svg#roboto_slablight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/robotoslab-regular-webfont.eot");
  src: url("../fonts/robotoslab-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotoslab-regular-webfont.woff") format("woff"), url("../fonts/robotoslab-regular-webfont.ttf") format("truetype"), url("../fonts/robotoslab-regular-webfont.svg#roboto_slabregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url("../fonts/robotoslab-thin-webfont.eot");
  src: url("../fonts/robotoslab-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/robotoslab-thin-webfont.woff") format("woff"), url("../fonts/robotoslab-thin-webfont.ttf") format("truetype"), url("../fonts/robotoslab-thin-webfont.svg#roboto_slabthin") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url("../fonts/ubuntumono-bold-webfont.eot");
  src: url("../fonts/ubuntumono-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntumono-bold-webfont.woff") format("woff"), url("../fonts/ubuntumono-bold-webfont.ttf") format("truetype"), url("../fonts/ubuntumono-bold-webfont.svg#ubuntu_monobold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_monobold_italic';
  src: url("../fonts/ubuntumono-bolditalic-webfont.eot");
  src: url("../fonts/ubuntumono-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntumono-bolditalic-webfont.woff") format("woff"), url("../fonts/ubuntumono-bolditalic-webfont.ttf") format("truetype"), url("../fonts/ubuntumono-bolditalic-webfont.svg#ubuntu_monobold_italic") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ubuntu_monoitalic';
  src: url("../fonts/ubuntumono-italic-webfont.eot");
  src: url("../fonts/ubuntumono-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntumono-italic-webfont.woff") format("woff"), url("../fonts/ubuntumono-italic-webfont.ttf") format("truetype"), url("../fonts/ubuntumono-italic-webfont.svg#ubuntu_monoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ubuntu_monoregular';
  src: url("../fonts/ubuntumono-regular-webfont.eot");
  src: url("../fonts/ubuntumono-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntumono-regular-webfont.woff") format("woff"), url("../fonts/ubuntumono-regular-webfont.ttf") format("truetype"), url("../fonts/ubuntumono-regular-webfont.svg#ubuntu_monoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 11, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
h1, .sb-h1, h2, .sb-h2, h3, .sb-h3, h4, .sb-h4, h5, .sb-h5, h6, .sb-h6 {
  font-weight: 700;
}

/* line 15, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
h1, .sb-h1 {
  font-size: 2.625em;
  line-height: 1.1428571428571;
  margin-bottom: 0.5714285714286em;
}

/* line 23, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
h2, .sb-h2 {
  font-size: 1.96875em;
  line-height: 1.5238095238095;
  margin-bottom: 0.7619047619048em;
}

/* line 31, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
h3, .sb-h3 {
  font-size: 1.3125em;
  line-height: 1.1428571428571;
  margin-bottom: 1.1428571428571em;
}

/* line 39, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
h4, .sb-h4 {
  font-size: 1.1484375em;
  line-height: 1.3061224489796;
  margin-bottom: 1.3061224489796em;
}

/* line 47, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
h5, .sb-h5 {
  font-size: 0.984375em;
  line-height: 1.5238095238095;
  margin-bottom: 1.5238095238095em;
}

/* line 55, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
h6, .sb-h6 {
  font-size: 0.875em;
  line-height: 1.7142857142857;
  margin-bottom: 1.7142857142857em;
}

/* line 11, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
.sb-h1-subhead, .sb-h2-subhead, .sb-h3-subhead, .sb-h4-subhead, .sb-h5-subhead, .sb-h6-subhead {
  font-weight: 300;
}

/* line 15, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
.sb-h1-subhead {
  font-size: 2.25em;
  line-height: 1.3333333333333;
  margin-bottom: 0.6666666666667em;
}

/* line 23, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
.sb-h2-subhead {
  font-size: 1.6875em;
  line-height: 1.7777777777778;
  margin-bottom: 0.8888888888889em;
}

/* line 31, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
.sb-h3-subhead {
  font-size: 1.125em;
  line-height: 1.3333333333333;
  margin-bottom: 1.3333333333333em;
}

/* line 39, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
.sb-h4-subhead {
  font-size: 0.984375em;
  line-height: 1.5238095238095;
  margin-bottom: 1.5238095238095em;
}

/* line 47, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
.sb-h5-subhead {
  font-size: 0.84375em;
  line-height: 1.7777777777778;
  margin-bottom: 1.7777777777778em;
}

/* line 55, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
.sb-h6-subhead {
  font-size: 0.75em;
  line-height: 2;
  margin-bottom: 2em;
}

@media (min-width: 44em) {
  /* line 11, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h1, .sb-h1, h2, .sb-h2, h3, .sb-h3, h4, .sb-h4, h5, .sb-h5, h6, .sb-h6 {
    font-weight: 700;
  }

  /* line 15, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h1, .sb-h1 {
    font-size: 2.8125em;
    line-height: 1.0666666666667;
    margin-bottom: 0.5333333333333em;
  }

  /* line 23, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h2, .sb-h2 {
    font-size: 2.109375em;
    line-height: 1.4222222222222;
    margin-bottom: 0.7111111111111em;
  }

  /* line 31, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h3, .sb-h3 {
    font-size: 1.40625em;
    line-height: 1.0666666666667;
    margin-bottom: 1.0666666666667em;
  }

  /* line 39, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h4, .sb-h4 {
    font-size: 1.23046875em;
    line-height: 1.2190476190476;
    margin-bottom: 1.2190476190476em;
  }

  /* line 47, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h5, .sb-h5 {
    font-size: 1.0546875em;
    line-height: 1.4222222222222;
    margin-bottom: 1.4222222222222em;
  }

  /* line 55, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h6, .sb-h6 {
    font-size: 0.9375em;
    line-height: 1.6;
    margin-bottom: 1.6em;
  }

  /* line 11, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h1-subhead, .sb-h2-subhead, .sb-h3-subhead, .sb-h4-subhead, .sb-h5-subhead, .sb-h6-subhead {
    font-weight: 300;
  }

  /* line 15, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h1-subhead {
    font-size: 2.25em;
    line-height: 1.3333333333333;
    margin-bottom: 0.6666666666667em;
  }

  /* line 23, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h2-subhead {
    font-size: 1.6875em;
    line-height: 1.7777777777778;
    margin-bottom: 0.8888888888889em;
  }

  /* line 31, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h3-subhead {
    font-size: 1.125em;
    line-height: 1.3333333333333;
    margin-bottom: 1.3333333333333em;
  }

  /* line 39, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h4-subhead {
    font-size: 0.984375em;
    line-height: 1.5238095238095;
    margin-bottom: 1.5238095238095em;
  }

  /* line 47, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h5-subhead {
    font-size: 0.84375em;
    line-height: 1.7777777777778;
    margin-bottom: 1.7777777777778em;
  }

  /* line 55, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h6-subhead {
    font-size: 0.75em;
    line-height: 2;
    margin-bottom: 2em;
  }
}
@media (min-width: 85em) {
  /* line 11, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h1, .sb-h1, h2, .sb-h2, h3, .sb-h3, h4, .sb-h4, h5, .sb-h5, h6, .sb-h6 {
    font-weight: 700;
  }

  /* line 15, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h1, .sb-h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
  }

  /* line 23, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h2, .sb-h2 {
    font-size: 2.25em;
    line-height: 1.3333333333333;
    margin-bottom: 0.6666666666667em;
  }

  /* line 31, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h3, .sb-h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
  }

  /* line 39, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h4, .sb-h4 {
    font-size: 1.3125em;
    line-height: 1.1428571428571;
    margin-bottom: 1.1428571428571em;
  }

  /* line 47, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h5, .sb-h5 {
    font-size: 1.125em;
    line-height: 1.3333333333333;
    margin-bottom: 1.3333333333333em;
  }

  /* line 55, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  h6, .sb-h6 {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }

  /* line 11, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h1-subhead, .sb-h2-subhead, .sb-h3-subhead, .sb-h4-subhead, .sb-h5-subhead, .sb-h6-subhead {
    font-weight: 300;
  }

  /* line 15, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h1-subhead {
    font-size: 2.25em;
    line-height: 1.3333333333333;
    margin-bottom: 0.6666666666667em;
  }

  /* line 23, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h2-subhead {
    font-size: 1.6875em;
    line-height: 1.7777777777778;
    margin-bottom: 0.8888888888889em;
  }

  /* line 31, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h3-subhead {
    font-size: 1.125em;
    line-height: 1.3333333333333;
    margin-bottom: 1.3333333333333em;
  }

  /* line 39, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h4-subhead {
    font-size: 0.984375em;
    line-height: 1.5238095238095;
    margin-bottom: 1.5238095238095em;
  }

  /* line 47, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h5-subhead {
    font-size: 0.84375em;
    line-height: 1.7777777777778;
    margin-bottom: 1.7777777777778em;
  }

  /* line 55, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings-generator.scss */
  .sb-h6-subhead {
    font-size: 0.75em;
    line-height: 2;
    margin-bottom: 2em;
  }
}
/* line 46, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .sb-h1 small, .sb-h2 small, .sb-h3 small, .sb-h4 small, .sb-h6 small {
  font-size: .66666666em;
  color: #555555;
}

/* line 52, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings.scss */
.sb-hgroup {
  margin-bottom: 1.5em;
}
/* line 55, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/typography/_headings.scss */
.sb-hgroup h1, .sb-hgroup h2, .sb-hgroup h3, .sb-hgroup h4, .sb-hgroup h5, .sb-hgroup h6, .sb-hgroup .sb-h1, .sb-hgroup .sb-h2, .sb-hgroup .sb-h3, .sb-hgroup .sb-h4, .sb-hgroup .sb-h6 {
  margin-bottom: 0;
}

/* line 18, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/_typography.scss */
body {
  font-family: Roboto, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #222222;
}

/* line 26, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/_typography.scss */
p,
blockquote {
  margin-bottom: 1.5rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 31, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/_typography.scss */
a {
  color: #116d96;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
/* line 35, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/base/_typography.scss */
a:hover {
  color: #093b51;
}

/* line 33, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 49, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid.scss */
[class*="sb-grid"], .sb-grid-row, .sb-grid-1, .sb-grid-2, .sb-grid-3, .sb-grid-4, .sb-grid-5, .sb-grid-6, .sb-grid-7, .sb-grid-8, .sb-grid-9, .sb-grid-10, .sb-grid-11, .sb-grid-12 {
  margin-bottom: .75rem;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 21, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
}

/* line 35, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-row {
  width: auto;
  margin-left: -1%;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-1 {
  position: static;
  width: 7.3333333333333%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-2 {
  position: static;
  width: 15.6666666666667%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-3 {
  position: static;
  width: 24%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-4 {
  position: static;
  width: 32.3333333333333%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-5 {
  position: static;
  width: 40.6666666666667%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-6 {
  position: static;
  width: 49%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-7 {
  position: static;
  width: 57.3333333333333%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-8 {
  position: static;
  width: 65.6666666666667%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-9 {
  position: static;
  width: 74%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-10 {
  position: static;
  width: 82.3333333333333%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-11 {
  position: static;
  width: 90.6666666666667%;
  margin-left: 1%;
  float: left;
}

/* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
.sb-grid-12 {
  position: static;
  width: 99%;
  margin-left: 1%;
  float: left;
}

@media (min-width: 44em) {
  /* line 21, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  /* line 35, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-row {
    width: auto;
    margin-left: -1%;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-1 {
    position: static;
    width: 7.3333333333333%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-2 {
    position: static;
    width: 15.6666666666667%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-3 {
    position: static;
    width: 24%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-4 {
    position: static;
    width: 32.3333333333333%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-5 {
    position: static;
    width: 40.6666666666667%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-6 {
    position: static;
    width: 49%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-7 {
    position: static;
    width: 57.3333333333333%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-8 {
    position: static;
    width: 65.6666666666667%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-9 {
    position: static;
    width: 74%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-10 {
    position: static;
    width: 82.3333333333333%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-11 {
    position: static;
    width: 90.6666666666667%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-12 {
    position: static;
    width: 99%;
    margin-left: 1%;
    float: left;
  }
}
@media (min-width: 60em) {
  /* line 21, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
  }

  /* line 35, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-row {
    width: auto;
    margin-left: -1%;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-1 {
    position: static;
    width: 7.3333333333333%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-2 {
    position: static;
    width: 15.6666666666667%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-3 {
    position: static;
    width: 24%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-4 {
    position: static;
    width: 32.3333333333333%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-5 {
    position: static;
    width: 40.6666666666667%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-6 {
    position: static;
    width: 49%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-7 {
    position: static;
    width: 57.3333333333333%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-8 {
    position: static;
    width: 65.6666666666667%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-9 {
    position: static;
    width: 74%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-10 {
    position: static;
    width: 82.3333333333333%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-11 {
    position: static;
    width: 90.6666666666667%;
    margin-left: 1%;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-12 {
    position: static;
    width: 99%;
    margin-left: 1%;
    float: left;
  }

  /* line 64, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-10 .sb-grid-row .sb-grid-5 {
    position: relative;
    left: 16.6666666666667%;
  }

  /* line 73, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-10 .sb-grid-row .sb-grid-2 {
    position: relative;
    left: -41.6666666666667%;
  }
}
@media (min-width: 85em) {
  /* line 21, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-container {
    width: 82.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
  }

  /* line 35, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-row {
    width: auto;
    margin-left: -1.5rem;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-1 {
    position: static;
    width: 5.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-2 {
    position: static;
    width: 12.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-3 {
    position: static;
    width: 19.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-4 {
    position: static;
    width: 26.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-5 {
    position: static;
    width: 33.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-6 {
    position: static;
    width: 40.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-7 {
    position: static;
    width: 47.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-8 {
    position: static;
    width: 54.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-9 {
    position: static;
    width: 61.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-10 {
    position: static;
    width: 68.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-11 {
    position: static;
    width: 75.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 44, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-12 {
    position: static;
    width: 82.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 73, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-10 .sb-grid-row .sb-grid-5 {
    position: relative;
    left: -21rem;
  }

  /* line 64, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid-generator.scss */
  .sb-grid-10 .sb-grid-row .sb-grid-3 {
    position: relative;
    left: 35rem;
  }
}
@media (min-width: 85em) {
  /* line 126, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_grid.scss */
  .sb-grid-10 .sb-grid-row .sb-grid-2 {
    position: static;
  }
}

/* line 10, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_callout.scss */
.sb-callout-container {
  margin-bottom: 1.5rem;
  background-color: white;
  -webkit-box-shadow: #aaaaaa 0px 0px 3px;
  -moz-box-shadow: #aaaaaa 0px 0px 3px;
  box-shadow: #aaaaaa 0px 0px 3px;
}

/* line 16, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_callout.scss */
.sb-callout-title {
  padding: .75rem;
  border-bottom: 1px solid #a2a2a2;
  background-color: #f1f1f1;
}
/* line 20, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_callout.scss */
.sb-callout-title h1, .sb-callout-title h2, .sb-callout-title h3, .sb-callout-title h4, .sb-callout-title h5, .sb-callout-title h6, .sb-callout-title .sb-h1, .sb-callout-title .sb-h2, .sb-callout-title .sb-h3, .sb-callout-title .sb-h4, .sb-callout-title .sb-h6 {
  margin-bottom: 0;
}

/* line 25, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/layout/_callout.scss */
.sb-callout-body {
  padding: .75rem;
}

/* line 26, C:/Users/Rachael/Documents/Projects/Springboard/library/scss/core/_layout.scss */
body {
  background-image: -webkit-linear-gradient(rgba(102, 204, 255, 0.5) 1px, transparent 1px);
  background-image: -moz-linear-gradient(rgba(102, 204, 255, 0.5) 1px, transparent 1px);
  background-image: linear-gradient(rgba(102, 204, 255, 0.5) 1px, transparent 1px);
  background-size: 1.5em 1.5em;
}
