/* line 17, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../scss/core/helpers/_clearfix.scss */
.sb-grid-container, .sb-grid-row {
  *zoom: 1;
}
/* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.sb-grid-container:after, .sb-grid-row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../scss/core/base/_navigation.scss */
.sb-bar-nav {
  width: 100%;
  list-style: none;
  background-color: #d1d1d1;
}

/* line 20, ../scss/core/base/_navigation.scss */
.sb-fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* line 28, ../scss/core/base/_navigation.scss */
.sb-has-fixed-nav {
  padding-top: 2.25rem;
  padding-top: 36px;
}

/* line 36, ../scss/core/base/_navigation.scss */
.sb-bar-nav .sb-nav-item {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .75rem;
  margin-left: .75rem;
  padding-top: 8px;
  margin-left: 12px;
  padding-bottom: 12px;
}

/* line 17, ../scss/core/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../scss/core/layout/_grid-generator.scss */
.sb-grid-container {
  width: 100%;
  margin: 0 auto;
  max-width: 95%;
}

/* line 34, ../scss/core/layout/_grid-generator.scss */
.sb-grid-row {
  width: auto;
  margin-left: -1%;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-1 {
  width: 7.33333%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-2 {
  width: 15.66667%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-3 {
  width: 24%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-4 {
  width: 32.33333%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-5 {
  width: 40.66667%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-6 {
  width: 49%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-7 {
  width: 57.33333%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-8 {
  width: 65.66667%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-9 {
  width: 74%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-10 {
  width: 82.33333%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-11 {
  width: 90.66667%;
  margin-left: 1%;
  float: left;
}

/* line 43, ../scss/core/layout/_grid-generator.scss */
.sb-grid-12 {
  width: 99%;
  margin-left: 1%;
  float: left;
}

@media (min-width: 44em) {
  /* line 21, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-container {
    width: 100%;
    margin: 0 auto;
    max-width: 90%;
  }

  /* line 34, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-row {
    width: auto;
    margin-left: -1%;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-1 {
    width: 7.33333%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-2 {
    width: 15.66667%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-3 {
    width: 24%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-4 {
    width: 32.33333%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-5 {
    width: 40.66667%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-6 {
    width: 49%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-7 {
    width: 57.33333%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-8 {
    width: 65.66667%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-9 {
    width: 74%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-10 {
    width: 82.33333%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-11 {
    width: 90.66667%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-12 {
    width: 99%;
    margin-left: 1%;
    float: left;
  }
}
@media (min-width: 60em) {
  /* line 21, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-container {
    width: 100%;
    margin: 0 auto;
    max-width: 95%;
  }

  /* line 34, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-row {
    width: auto;
    margin-left: -1%;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-1 {
    width: 7.33333%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-2 {
    width: 15.66667%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-3 {
    width: 24%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-4 {
    width: 32.33333%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-5 {
    width: 40.66667%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-6 {
    width: 49%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-7 {
    width: 57.33333%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-8 {
    width: 65.66667%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-9 {
    width: 74%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-10 {
    width: 82.33333%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-11 {
    width: 90.66667%;
    margin-left: 1%;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-12 {
    width: 99%;
    margin-left: 1%;
    float: left;
  }
}
@media (min-width: 85em) {
  /* line 21, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-container {
    width: 76.5rem;
    margin: 0 auto;
    max-width: none;
  }

  /* line 34, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-row {
    width: auto;
    margin-left: -1.5rem;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-1 {
    width: 5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-2 {
    width: 11.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-3 {
    width: 18rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-4 {
    width: 24.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-5 {
    width: 31rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-6 {
    width: 37.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-7 {
    width: 44rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-8 {
    width: 50.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-9 {
    width: 57rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-10 {
    width: 63.5rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-11 {
    width: 70rem;
    margin-left: 1.5rem;
    float: left;
  }

  /* line 43, ../scss/core/layout/_grid-generator.scss */
  .sb-grid-12 {
    width: 76.5rem;
    margin-left: 1.5rem;
    float: left;
  }
}
/* line 59, ../scss/core/layout/_grid.scss */
.sb-grid-container, .sb-grid-row, .sb-grid-1, .sb-grid-2, .sb-grid-3, .sb-grid-4, .sb-grid-5, .sb-grid-6, .sb-grid-7, .sb-grid-8, .sb-grid-9, .sb-grid-10, .sb-grid-11, .sb-grid-12 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}
