/* line 17, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../scss/core/base/_navigation.scss */
.sb-bar-nav {
  width: 100%;
  list-style: none;
  background-color: #d1d1d1;
}

/* line 20, ../scss/core/base/_navigation.scss */
.sb-fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* line 28, ../scss/core/base/_navigation.scss */
.sb-has-fixed-nav {
  padding-top: 2.25rem;
  padding-top: 36px;
}

/* line 36, ../scss/core/base/_navigation.scss */
.sb-bar-nav .sb-nav-item {
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .75rem;
  margin-left: .75rem;
  padding-top: 8px;
  margin-left: 12px;
  padding-bottom: 12px;
}

/* line 74, ../scss/core/layout/_grid-generator.scss */
.sb-large-row {
  width: 102.66667%;
  max-width: 1030px;
  padding: 0;
  margin-left: -2.66667%;
  zoom: 1;
  list-style: none;
  margin: 0 auto;
}
/* line 85, ../scss/core/layout/_grid-generator.scss */
.sb-large-row:before, .sb-large-row:after {
  content: " ";
  display: table;
}
/* line 90, ../scss/core/layout/_grid-generator.scss */
.sb-large-row:after {
  clear: both;
}

/* line 104, ../scss/core/layout/_grid-generator.scss */
.sb-large-1 {
  width: 8.33333%;
  padding-left: 2.66667%;
  float: left;
}

/* line 104, ../scss/core/layout/_grid-generator.scss */
.sb-large-2 {
  width: 16.66667%;
  padding-left: 2.66667%;
  float: left;
}

/* line 104, ../scss/core/layout/_grid-generator.scss */
.sb-large-3 {
  width: 25%;
  padding-left: 2.66667%;
  float: left;
}

/* line 104, ../scss/core/layout/_grid-generator.scss */
.sb-large-4 {
  width: 33.33333%;
  padding-left: 2.66667%;
  float: left;
}
