//-------------------------------------
//  Springboard: core/base/buttons/singles
//  
//-------------------------------------


// ----- Buttons settings ----- //
$print-base-button-single-classes:		$print-base-button-classes		!default;

$sb-button-top-color:				white							!default;
$sb-button-bottom-color:			darken(white, 10%)				!default;

$sb-button-warning-top-color:		lighten($sb-yellow, 10%)		!default;
$sb-button-warning-bottom-color:	lighten($sb-yellow, 0%)			!default;

$sb-button-stop-top-color:			lighten($sb-red, 30%)			!default;
$sb-button-stop-bottom-color:		lighten($sb-red, 20%)			!default;

$sb-button-go-top-color:			lighten($sb-green, 10%)			!default;
$sb-button-go-bottom-color:			lighten($sb-green, 0%)			!default;

$sb-button-look-top-color:			lighten($sb-blue, 50%)			!default;
$sb-button-look-bottom-color:		lighten($sb-blue, 40%)			!default;

// ----- Buttons Mixins ----- //
@mixin sb-button($sb-top-color: $sb-button-bottom-color, $sb-bottom-color: false) {
	border: 0;
	font-family: $sb-sans;
	font-weight: 300;
	font-size: 1em;
	cursor: pointer;
	position: relative;

	@if $sb-bottom-color == false {
		background: transparent;
	} @else {
		@if lightness(lighten(mix($sb-top-color, $sb-bottom-color), 25%)) > 95% {
			background-color: darken(white, 10%);
		} @else {
			background-color: lighten(mix($sb-top-color, $sb-bottom-color), 25%);
		}
		@include background-image(linear-gradient(top, darken($sb-top-color, 5%), $sb-bottom-color));
		@include box-shadow(0px 1px 2px lighten($sb-font-color, 30%));
	}
	
}

@mixin sb-button-hover($sb-top-color: $sb-button-top-color, $sb-bottom-color: $sb-button-bottom-color) {
	@include background-image(linear-gradient(top, $sb-top-color, $sb-bottom-color));
	@include box-shadow(0px 1px 2px lighten($sb-font-color, 30%));
}

@mixin sb-button-active($sb-top-color: $sb-button-top-color, $sb-bottom-color: $sb-button-bottom-color) {
	@include background-image(linear-gradient(top, darken($sb-top-color, 10%), darken($sb-bottom-color, 10%)));
	@include box-shadow(0px 0px 2px lighten($sb-font-color, 15%));

	top: 2px;
}

@mixin sb-button-link {
	background: transparent;
	@include box-shadow(none);
}

@mixin sb-button-padding($sb-button-padding: $sb-s-spacing $sb-m-spacing) {
	padding: $sb-button-padding;
}

@mixin sb-button-expanded {
	width: 100%;
}

@mixin sb-button-disabled {
	background-image: none;
	color: lighten($sb-font-color, 40%);
	cursor: default;
	top: 0;
	@include box-shadow(none);
}

// ----- Buttons Placeholders ----- //
%sb-button {
	@include sb-button($sb-button-top-color, $sb-button-bottom-color);
	@include sb-button-padding;

	&:hover, &:focus, &.sb-button-hover {
		@include sb-button-hover($sb-button-top-color, $sb-button-bottom-color);
	}

	&:active, &.sb-button-active {
		@include sb-button-active($sb-button-top-color, $sb-button-bottom-color);
	}
}

%sb-button-warning {
	@include sb-button($sb-button-warning-top-color, $sb-button-warning-bottom-color);
	@include sb-button-padding;

	&:hover, &:focus, &.sb-button-hover {
		@include sb-button-hover($sb-button-warning-top-color, $sb-button-warning-bottom-color);
	}

	&:active, &.sb-button-active {
		@include sb-button-active($sb-button-warning-top-color, $sb-button-warning-bottom-color);
	}
}

%sb-button-stop {
	@include sb-button($sb-button-stop-top-color, $sb-button-stop-bottom-color);
	@include sb-button-padding;

	&:hover, &:focus, &.sb-button-hover {
		@include sb-button-hover($sb-button-stop-top-color, $sb-button-stop-bottom-color);
	}

	&:active, &.sb-button-active {
		@include sb-button-active($sb-button-stop-top-color, $sb-button-stop-bottom-color);
	}
}

%sb-button-go {
	@include sb-button($sb-button-go-top-color, $sb-button-go-bottom-color);
	@include sb-button-padding;

	&:hover, &:focus, &.sb-button-hover {
		@include sb-button-hover($sb-button-go-top-color, $sb-button-go-bottom-color);
	}

	&:active, &.sb-button-active {
		@include sb-button-active($sb-button-go-top-color, $sb-button-go-bottom-color);
	}
}

%sb-button-look {
	@include sb-button($sb-button-look-top-color, $sb-button-look-bottom-color);
	@include sb-button-padding;

	&:hover, &:focus, &.sb-button-hover {
		@include sb-button-hover($sb-button-look-top-color, $sb-button-look-bottom-color);
	}

	&:active, &.sb-button-active {
		@include sb-button-active($sb-button-look-top-color, $sb-button-look-bottom-color);
	}
}

%sb-button-link {
	@include sb-button;
	@include sb-button-padding;
	@include sb-link;
}

%sb-button-quiet {
	@include sb-button;
	@include sb-button-padding;

	&:hover, &:focus, &.sb-button-hover {
		@include sb-button-hover($sb-button-top-color, $sb-button-bottom-color);
	}

	&:active, &.sb-button-active {
		@include sb-button-active($sb-button-top-color, $sb-button-bottom-color);
	}
}

%sb-button-xl {
	@include sb-button-padding($sb-l-spacing $sb-l-spacing * 2);
	font-size: 1.5em;
}

%sb-button-l {
	@include sb-button-padding($sb-m-spacing $sb-l-spacing);
	font-size: 1.25em;
}

%sb-button-m {
	@include sb-button-padding($sb-s-spacing $sb-m-spacing);
}

%sb-button-s {
	@include sb-button-padding($sb-s-spacing);
	font-size: .75em;
}

%sb-button-expanded {
	@include sb-button-expanded;
}

%sb-button-disabled {
	&, &:hover, &:active, &:focus {
		@include sb-button-disabled;
	}
}


// ----- Buttons styles & classes ----- //
.sb-button {
	@extend %sb-button;
}

.sb-button-warning {
	@extend %sb-button-warning;
}

.sb-button-stop {
	@extend %sb-button-stop;
}

.sb-button-go {
	@extend %sb-button-go;
}

.sb-button-look {
	@extend %sb-button-look;
}

.sb-button-link {
	@extend %sb-button-link;
}

.sb-button-quiet {
	@extend %sb-button-quiet;
}

.sb-button-xl {
	@extend %sb-button-xl;
}

.sb-button-l {
	@extend %sb-button-l;
}

.sb-button-m {
	@extend %sb-button-m;
}

.sb-button-s {
	@extend %sb-button-s;
}

.sb-button-expanded {
	@extend %sb-button-expanded;
}

.sb-button-disabled {
	@extend %sb-button-disabled;
}