//-------------------------------------
//  Springboard: core/components/navigation
//-------------------------------------

// ----- Settings ----- //

$print-base-nav-classes:	$print-base-classes	!default;

$sb-bar-nav-color:	#d1d1d1	!default;


// ----- Mixins ----- //
@mixin sb-bar-nav {
	width: 100%;
	background-color: $sb-bar-nav-color;

	@extend %sb-inline-list;
}

@mixin sb-fixed-nav {
	@include respond-to('sb-m'){
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
	}
}

@mixin sb-has-fixed-nav {
	@include respond-to('sb-m') {
		@if $ie8-support == true {
			padding-top: 0 * $sb-rem;
		}

		padding-top: 4.5rem;
	}
}

@mixin sb-nav-item {
	padding: $sb-s-spacing;
	margin: 0;
	height: 3rem;
}


// ----- Placeholders ----- //

%sb-bar-nav {
	@include sb-bar-nav;
}

%sb-fixed-nav {
	@include sb-fixed-nav;
}

%sb-has-fixed-nav {
	@include sb-has-fixed-nav;
}

%sb-nav-item {
	@include sb-nav-item;
}


// ----- Classes ----- //
@if $print-base-nav-classes == true {

	.sb-fixed-nav {
		@extend %sb-fixed-nav;
	}

	.sb-bar-nav {
		@extend %sb-bar-nav;

		.sb-nav-item {
			@extend %sb-nav-item;
		}
	}

	.sb-has-fixed-nav {
		@extend %sb-has-fixed-nav;
	}

}