//-------------------------------------
//  Springboard: core/settings
//-------------------------------------

// ----- Print classes? ----- //
// You can overide these on an individual component basis 
// in deeper settings.
// 

// Want to use Springboard classes in your HTML?
$print-springboard-classes:	true							!default;

$print-base-classes:		$print-springboard-classes		!default;
$print-layout-classes:		$print-springboard-classes		!default;
$print-helpers-classes:		$print-springboard-classes		!default;



//
$sb-visible-grid:				true		!default;
$sb-visible-baseline-grid:		true		!default;



// Consistent box sizing
$border-box-all-the-things:		true		!default;



// Prints various CSS to support IE8
$ie8-support:		true		!default;