//-------------------------------------
//  Springboard: core/settings
//-------------------------------------

// ----- Print classes? ----- //
// You can overide these on an individual component basis 
// in deeper settings.
// 

// Want to use Springboard classes in your HTML?
$print-springboard-classes:		true							!default;
$print-springboard-elements:	true							!default;


//
$sb-visible-grid:				$print-springboard-classes		!default;
$sb-visible-baseline-grid:		$print-springboard-classes		!default;



// Consistent box sizing
$border-box-all-the-things:		true		!default;



// Prints various CSS to support IE8
$ie8-support:		true		!default;