//-------------------------------------
//  Springboard: core/variables
//-------------------------------------

// ----- Font stacks ----- //
$serif: RobotoSlab, Georgia, Times, "Times New Roman", serif;
$sans: Roboto, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$mono: UbuntuMono, Monaco, Consolas, "Lucida Console", monospace;

// ----- Useful numbers ----- //
$rem: 16px;

// ----- Colors ----- //
$sb-green: #77bc13;
$sb-teal: #139b8a; 
$sb-orange: #ee5a22;
$sb-yellow: #efc217;
$sb-blue: #093b51;

$sb-font-color: #222222;
$sb-link-color:	lighten($sb-blue, 15%);

// Predefine your breakpoints
$breakpoints: 	'sb-xl' (85em),
				'sb-l' (60em),
				'sb-m' (44em) !default;